<div class="text-center py-5">
    <button mat-raised-button color="primary" class="rounded-0 bg-primary" (click)="loginWithRedirect()">Sign In</button>
    <span class="col">
        Sign-in to <b>PastR</b><sub>x</sub>
    </span>
</div>
<div class="text-center py-5 row m-0">
    <div class="col">
        <h1 class="stext p-5 text-left mt-5">Treat Pain...</h1>
        <h1 class="stext py-5">...Reduce Abuse</h1>
    </div>
    <div class="col"><img src="../../../assets/app_splash.jpg" class="mx-auto img-fluid"></div>
    <div class="col">
        <h1 class="stext p-5 text-left mt-5">Protect the patient...</h1>
        <h1 class="stext py-5 pe-5 text-right me-5"> Protect the provider...</h1>
        <h1 class="stext py-5 pe-5 text-right">Protect the public...</h1>
    </div>

</div>