.activeButtonsList{
    background-color: #d0a8ad !important;
}

.buttonBlue{
    background-color: #4d9fbb !important;
}

.card-title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.file-input {
    display: none;
  }