<div class="card m-2 rounded-0">
    <div style="margin-top: 15px;">
        <h5 style="text-align: center;">Update My Settings</h5>
    </div>
    <div>
        <div style="margin-top: 15px;" class="p-2">Fill in your Data. When you are finished, click Submit to update your
            settings.</div>
        <div class="col" style="margin-top: 20px;">
            <button mat-raised-button class="col-2 me-4 activeButtonsList">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="card-body p-1 rounded-0 bg-smoke col-8 m-2">
            <h5 class="card-title bg-gray text-white p-2 rounded-0">Update User Permissions: <span>{{request.lastName}}</span> , <span>{{request.firstName}}</span>
                <div style="padding-left: 97%; margin-top: -24px;">
                    <mat-icon>help</mat-icon>
                </div>
            </h5>
            <div class="col m-0">
                <mat-label><span style="color: blue;">Blue</span> items are required inputs.</mat-label>
            </div>
            <hr>
            <h5 class="ps-3" style="font-style: italic;margin-bottom: -12px;margin-top: -15px;">User Info</h5>
            <hr>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="request.lastName" required>
                </mat-form-field>
                <mat-form-field class="mx-5">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="request.firstName" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Email Address</mat-label>
                    <input matInput [(ngModel)]="request.email">
                    <!-- <input matInput [(ngModel)]="request.email" [pattern]="emailPattern" #requestEmail="ngModel" required > -->
                </mat-form-field>
                <!-- <div *ngIf="requestEmail.errors"> 
                <mat-error *ngIf="requestEmail.errors.required"> 
                    Email is required.
                </mat-error>			   
                <mat-error *ngIf="requestEmail.errors.pattern"> 
                    Please enter valid email address.
                </mat-error>	
             </div>  -->
            </div>
            <hr>
            <h5 class="ps-3" style="font-style: italic;margin-bottom: -12px;margin-top: -15px;">Credentials</h5>
            <hr>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Prescriber NPI</mat-label>
                    <input matInput [(ngModel)]="request.prescriberNPI">
                </mat-form-field>
                <mat-form-field class="mx-4">
                    <mat-label>Prescriber DEA</mat-label>
                    <input matInput [(ngModel)]="request.prescriberDEANumber">
                </mat-form-field>
                <mat-form-field class="mx-4">
                    <mat-label>Prescriber State ID</mat-label>
                    <input matInput [(ngModel)]="request.prescriberStateId">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="mx-4">
                    <mat-label>NCPDP ID</mat-label>
                    <input matInput [(ngModel)]="request.prescriberNCPDP">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                <mat-label>Primary Speciality</mat-label>
                 <mat-select (selectionChange)="updateFields()" [(ngModel)]="selpsp">
                    <mat-option value="{{pts.Value}}" *ngFor="let pts of PrimarySpeciality">{{pts.Value}}{{pts.Display}}</mat-option>
                </mat-select> 
            </mat-form-field>
            </div>
            <hr>
            <h5 class="ps-3" style="font-style: italic;margin-bottom: -12px;margin-top: -15px;">Permissions</h5>
            <hr>
            <div class="col">
                <div class="col">
                    <mat-checkbox class="example-margin" [(ngModel)]="request.loginAllowed">Login Allowed</mat-checkbox>
                </div>
                <div class="col">
                    <mat-checkbox class="example-margin" [(ngModel)]="request.active">User Active</mat-checkbox>
                </div>
                <div class="col">
                    <mat-checkbox class="example-margin" [(ngModel)]="request.practiceAdmin">Practice Admin</mat-checkbox>
                </div>
            </div>
            <hr>
            <h5 class="ps-3" style="font-style: italic;margin-bottom: -12px;margin-top: -15px;">EHR ID</h5>
            <p class="ps-5" style="margin-top: -25px;margin-left: 50px;">These are used for communications to and from
                the EHR for integrated practices</p>
            <hr>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Add New EHR ID</mat-label>
                    <input matInput [(ngModel)]="request.newEHRID">
                </mat-form-field>
                <mat-form-field class="mx-5">
                    <mat-label>Add New EHR ID Type</mat-label>
                    <input matInput [(ngModel)]="request.newEHRIDType">
                </mat-form-field>
            </div>
            <div class="card-body p-0 rounded-0 bg-smoke">
                <h5 class="card-title bg-gray text-white p-2 rounded-0">Alert Settings: Configure PDF Return</h5>
            </div>
            <div class="col-4 pb-2">
                <button mat-raised-button color="primary" class="col-12 activeButtonsList">UPDATE CRITICAL
                    FINDINGS</button>
            </div>
            <hr>
            <div class="col m-4">
                <p>Select the settings below to filter PDFs you do not want to push to the EHR.</p>
                <hr>
                <div class="col">
                    <mat-checkbox class="example-margin" [(ngModel)]="isNoPMPReports"> Do not push 'No Data' PMP Reports
                        to EHR.</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="card-body p-1 rounded-0 bg-smoke col-3 m-2">
            <h5 class="card-title bg-gray text-white p-2 rounded-0">Info
                <div style="margin-left: 360px;margin-top: -26px;">
                    <mat-icon (click)="openDialogUpdateUser()">help</mat-icon>
                </div>
            </h5>
            <div>
                <h5 style="text-align: center;">Info Panel</h5>
                <p>As you move through the form to the left, this panel will display details about the current field.
                </p>
            </div>
        </div>
    </div>
    <!-- <mat-dialog-content>
        <div class="videoWrapper">
          <iframe [src]='safeUrl' frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-dialog-content>
      
      <hr>
      
      <mat-dialog-actions class="app-dialog-actions">
        <button type="button" class="btn btn-primary btn-sm" (click)="closeDialogUpdateUser()">Close</button>
      </mat-dialog-actions> -->
</div>

<app-footer></app-footer>