mat-form-field { margin-right: 10px;
    color:lightskyblue;
    background-color:#b4b5cd
    
 }
 .required{
    color:blue;
 }
button {width: 100px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;

}

.col{
    margin-top: 10px;
   
}

.grid{
    margin-left : 10px;
    margin-bottom: 10px;
    
}