/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-primary {
    background-color: #35368e !important;
}

.text-primary {
    color: #35368e !important;
}
.bg-gray{
    background: #4e4e4e !important;
}
.bg-smoke{
    background-color: whitesmoke;
}
label {
    margin-bottom: 0px !important;
}
.fw-500{
    font-weight: 500 !important;
}
.success-snackbar.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
        background: green;

        .mat-mdc-button {
            color: white !important;
            padding: 0px;
            min-width: 20px;
            height: 20px;
        }
    }

    .mat-mdc-snack-bar-actions {
        padding: 0px;
        width: 20px;
    }

    .mat-mdc-snack-bar-label.mdc-snackbar__label {
        color: white;
        font-weight: 500;
        white-space: pre-wrap;
        padding: 5px;
    }
}

.error-snackbar.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
        background: red;

        .mat-mdc-button {
            color: white !important;
            padding: 0px;
            min-width: 20px;
            height: 20px;
        }
    }

    .mat-mdc-snack-bar-actions {
        padding: 0px;
        width: 20px;
    }

    .mat-mdc-snack-bar-label.mdc-snackbar__label {
        color: white;
        font-weight: 500;
        white-space: pre-wrap;
        padding: 5px;

    }
}